
.card-form {
    margin-top: 1rem;
}
.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: start;
  }
  .title {
    margin-bottom: 0;
    color: #37783F;
  }
  .nav-link ,.navbar-brand{
    color: white !important;
  }
  .row {
    margin-top: 1rem !important;
  }
  .forms {
    margin: 2rem;
  }
  .banner {
    background-image: url('../images/images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0 !important;
    height: 100vh;
  }