{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      {% if messages %}
      {% for message in messages %}
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      {% endfor %}
      {% endif %}
      <div class="head">
        <h5 class="title">EMPLOYEES</h5>
        <a class="nav-item nav-link text-center" href="{% url 'add_employee' %}"><button class="btn btn-success">Add
            employee</button></a>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>Employee Code</th>
          <th>First Name</th>
          <th>middle_name</th>
          <th>Edit</th>
          <th>View Details</th>
          <th>Delete</th>
        </tr>
        {% for employee in employees %}
        <tr>
          <td>{{employee.employee_code}}</td>
          <td>{{employee.first_name}}</td>
          <td>{{employee.middle_name}}</td>
          <td><a href="{% url 'update_employee' employee.id %}" class="btn btn-primary"><i class="fas fa-pen-nib"></i>
              Update</a></td>
          <td><a href="{% url 'employee_details' employee.id %}" class="btn btn-success"><i class="fas fa-eye"></i> View Details</a></td>
          <td><a href="{% url 'delete_employee' employee.id %}" class="btn  btn-danger"><i class="fas fa-trash-alt"></i>
              Delete</a></td>
        </tr>
        {% empty %}
                    <tr>
                        <td class="text-danger" colspan='6'>Your don't have employees yet. You can add by clicking the button above</td>
                    </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}