{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      {% if messages %}
      {% for message in messages %}
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      {% endfor %}
      {% endif %}
      <div class="">
        <h5 class="title text-center">EMPLOYEE DETAILS</h5>
      </div>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Employee Code</th>
          <td>{{employee.employee_code}}</td>
        </tr>
        <tr>
          <th>First Name</th>
          <td>{{employee.first_name}}</td>
        </tr>
        <tr>
          <th>middle_name</th>
          <td>{{employee.middle_name}}</td>
        </tr>
        <tr>
          <th>Graduation Date</th>
          <td>{{employee.graduation_date|date}}</td>
        </tr>
        <tr>
          <th>Employment Date</th>
          <td>{{employee.employment_date|date}}</td>
        </tr>
        <tr>
          <th>Employment Duration</th>
          <td>{{employee.employment_time}}</td>
        </tr>
        <tr>
          <th>Position</th>
          <td>{{employee.position}}</td>
        </tr>
        <tr>
          <th>Salary</th>
          <td>{{employee.salary}}</td>
        </tr>
        <tr>
          <th>Supervisors</th>
          <td>
            {% for supervisor_object in employee.supervisors.all %}
            {{supervisor_object.name.first_name}} {{supervisor_object.name.middle_name}} <br>
            {% endfor %}
          </td>
        </tr>
        <tr>

        </tr>
      </table>
      <a class="nav-item nav-link text-center" href="{% url 'employees' %}"><button class="btn btn-primary">Go
        Back</button></a>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}